__pycache__/

config_values.py
mail_credentials.py

*.db

react/fcc/rmdb/node_modules
react/fcc/rmdb/.env

flutter/flutter_explained/timeofday/.dart_tool
flutter/flutter_explained/timeofday/.idea
flutter/flutter_explained/timeofday/.metadata
flutter/flutter_explained/timeofday/.packages
flutter/flutter_explained/timeofday/analysis_options.yaml
flutter/flutter_explained/timeofday/flutter_explained.iml
flutter/flutter_explained/timeofday/android/
flutter/flutter_explained/timeofday/ios/
flutter/flutter_explained/timeofday/web/
flutter/flutter_explained/timeofday/build/
