__pycache__/

config_values.py
mail_credentials.py

*.db

react/fcc/rmdb/node_modules
react/fcc/rmdb/.env

flutter_test/flutter_explained/.dart_tool
flutter_test/flutter_explained/.idea
flutter_test/flutter_explained/.metadata
flutter_test/flutter_explained/.packages
flutter_test/flutter_explained/analysis_options.yaml
flutter_test/flutter_explained/flutter_explained.iml
flutter_test/flutter_explained/android/
flutter_test/flutter_explained/ios/
flutter_test/flutter_explained/web/
