__pycache__/

config_values.py
mail_credentials.py

*.db

react/fcc/rmdb/node_modules
react/fcc/rmdb/.env

flutter/flutter_explained/.dart_tool
flutter/flutter_explained/.idea
flutter/flutter_explained/.metadata
flutter/flutter_explained/.packages
flutter/flutter_explained/analysis_options.yaml
flutter/flutter_explained/flutter_explained.iml
flutter/flutter_explained/android/
flutter/flutter_explained/ios/
flutter/flutter_explained/web/
flutter/flutter_explained/build/
